.Blog {
  padding: var(--blog-section-pd-mb) 0;
  scroll-margin-top: var(--header-height-scroll);
}

.Blog-container {
  width: 90%;
  padding: 0 1rem;
  margin: 0 auto;
}

.Blog-header {
  text-align: center;
  margin-bottom: var(--blog-gap);
}

.Blog-header__sub-ttl {
  font-family: var(--font-family-sub-ttl);
  font-size: 1.5rem;
  color: var(--color-font-dark);
  margin-bottom: 1rem;
}

.Blog-header__ttl {
  font-size: var(--blog-fz-ttl);
  font-weight: var(--blog-fw-bold);
  letter-spacing: 0.05em;
  color: var(--color-font-dark);
  margin-bottom: 1.2rem;
  text-transform: uppercase;
}

.Blog-header__divider {
  display: block;
  width: 60px;
  height: 3px;
  background: var(--color-devider);
  margin: 0 auto;
}

.Blog-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--blog-gap);
  list-style: none;
  padding: 0;
  margin: 0;
}

.Blog-card {
  display: block;
  color: inherit;
  text-decoration: none;
}

.Blog-card-media {
  position: relative;
}

.Blog-card-media__img {
  width: 100%;
  aspect-ratio: 4 / 3;
  display: block;
  object-fit: cover;
  border-radius: 4px;
}

.Blog-card-date {
  position: absolute;
  left: var(--blog-date-offset-left);
  bottom: 1rem;
  width: var(--blog-date-w);
  height: var(--blog-date-h);
  background: var(--color-bg-accent);
  color: var(--color-font-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 1;
  z-index: 2;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
}

.Blog-card-date__day {
  font-size: 2rem;
  font-weight: var(--blog-fw-bold);
  margin-bottom: 0.5rem;
}

.Blog-card-date__month {
  font-size: 1rem;
  font-style: italic;
}

.Blog-card-content {
  padding: 1.2rem 0;
  border-bottom: 1px solid var(--b-color-alt);
}

.Blog-card__ttl {
  font-size: var(--blog-fz-card-ttl);
  font-weight: var(--blog-fw-bold);
  color: var(--color-font-dark);
  margin-bottom: 0.6rem;
  line-height: 1.4;
  text-transform: uppercase;
}

.Blog-card__desc {
  font-size: var(--blog-fz-desc);
  color: var(--clr-text-muted);
  line-height: 1.6;
}

.Blog-card-meta {
  display: flex;
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin-top: 1rem;
  color: var(--clr-text-light);
}

.Blog-card-meta-item {
  display: flex;
  align-items: center;
}

.Blog-card-meta-item__icon {
  color: var(--color-bg-accent);
  margin-right: 0.5rem;
}

@media (hover: hover) {
  .Blog-card-media__img {
    transition: transform 0.4s ease;
  }

  .Blog-card:hover .Blog-card-media__img {
    transform: translateY(-5px);
  }

  .Blog-card:hover .Blog-card__ttl {
    color: var(--color-devider);
    text-decoration: underline;
  }
}

@media screen and (max-width: 959.98px) and (orientation: landscape) {
  .Blog-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 960px) {
  .Blog {
    padding: var(--blog-section-pd-dt) 0;
  }

  .Blog-list {
    grid-template-columns: repeat(3, 1fr);
  }
}