.Hero {
  height: 100vh;
  background: var(--backgroud-hero-linear-gradient),
              url(/assets/images/bg/app-landing-bg.png)
              center / cover no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}

/* .Hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
} */