:root {
  --header-color: #f38181;
  --font-color: #fff;
  --backgroud-hero-linear-gradient: linear-gradient(
      to bottom,
      rgba(243, 129, 129, 0.8),
      rgba(252, 227, 138, 0.8)
    );
  --container-width: 80%;
  --container-fluid-width: 100%;
  --transform-default: transform 0.3s ease;
  --hamburger-gap: 8px;
  --hamburger-thickness: 2px;
  --hamburger-width: 24px;
}
